html{
  height: 100%;
}
body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  color: #d4d4d4;
}
a{
  color: #d4d4d4;
}
#container{
  width:100%;
  position: relative;
  height: auto;
  min-height: 100%;
  border:1px solid grey;
}
